<!-- I2Connect/templates/I2Connect/traffic_template.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulated Traffic Data & Driver State</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'I2Connect/styles.css' %}">
</head>

<body>
    <div class="overall-container">
    <div class="controls">
        <button id="startBtn">Start</button>
        <button id="pauseBtn">Pause</button>
        <button id="resumeBtn">Resume</button>
        <button id="stopBtn">Stop</button>
    </div>
    <div class="headings-container">
        <h1 class="table-title">Simulated Traffic Data</h1>
        <h1 class="table-title">Driver State Data</h1>
    </div>
    <div class="data-display-container">
            <div class="simulation">

                <div class="table-container">
                    <!-- Traffic data table -->
                    <table id="trafficDataTable">
                        <thead class="sticky-header">
                            <tr>
                                <th class="ID-header"> ID  </th>
                                <th class="timestamp-header">Timestamp</th>
                                <th class="X-header">X</th>
                                <th class="Y-header">Y</th>
                                <th class="Speed-header"> Speed (km/h)</th>
                                <th class="type-header">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Traffic data rows  dynamically displayed here -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="simulation">
                <div class="table-container">
                <!-- Driver state data table -->
                <table id="driverStateDataTable">
                    <thead class="sticky-header">
                        <tr>
                            <th class="timestamp-header">Timestamp</th>
                            <th class="distraction-header">Distraction</th>
                            <th class="drowsiness-header">Drowsiness</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Driver state data rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
            </div>
    </div>
    </div>


 <!-- Link to the external JavaScript file -->
    <script src="{% static 'I2Connect/scripts.js' %}"></script>

</body>
</html>

